<h1>New Comment</h1>

<%= render 'form', comment: @comment %>

<% if current_user.client? %>
<%= link_to 'Back', client_path(current_user.client) %> |
<% end %>
<% if current_user.vendor? %>
<%= link_to 'Back', client_path(current_user.vendor) %> |
<% end %>

<%= link_to 'Home', categories_path %>
