<div class="container-fluid" id="about">
     <!-- <div class="container">
        <div class="row">
      -->
          <h3>About</h3>
          <div class="card bg-myphoto-light">
            <div class="card-body">
              <p>This is all about Kieu Hua presenting her works to the potential employers</p>

              <blockquote class="blockquote">
                <p>I am a three self person - self motivate, self learn and self make</p>
                <footer class="blockquote-footer"> A Ruby on Rails Developer,
                  <cite>Self Employed</cite>
                </footer>
              </blockquote>

              <div class="media">
                <!--<img class="mr-3" src="images/kieu.png" alt="kieu"> -->
                <%= image_tag 'kieu.png' %>

                <div class="media-body">
                  <h5 class="mt-0">Kieu</h5>
                  This Home-Service Rails 5 web application is designed and implemented by Kieu Hua.                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>