<footer class="footer text-center">      
   <a href="/categories"><small>&copy; Home Services</small></a>      	       
	<a href="#"><small>Terms &amp; Conditions</small></a>
   <a href="#"><small>About Us</small></a>      
</footer>