<h1>New Client</h1>

<% if current_user.profile.nil? %>
   <h5>You need to create Profile, before become a client</h5>
   <%= link_to '<button type="button">New Profile</button>'.html_safe, new_user_profile_path(current_user.id) %>
<% else %>
   <%= render 'form', client: @client %>
<% end %>

<br>
<br>
<%= link_to 'Home', users_path %>
