h1, h2, h3, h4, h5, h6, .nav, .navbar {
   font-family: 'Poiret One', cursive; 
}
.bg-nav-homeservice {
	background-image: url('images/skyline.png');
	background-size: cover;
	//color: #504747;
	color: #818181;
}

.homeservice-cursive {
	font-family: 'Poiret One', cursive; 
}

.homeservice-color-white {
    color: white;
}

.category-name-homeservice {
	font-size: 160%;
}

.homeservice-cursive-font-120 {
	font-family: 'Poiret One', cursive; 
	font-size: 120%;
}

.homeservice-cursive-font-140 {
	font-family: 'Poiret One', cursive;
	font-size: 140%; 
}

