<p id="notice"><%= notice %></p>

<p>
  <strong>Subname:</strong>
  <%= @subcategory.subname %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>

<br> <br>
